.libraryTopWrap{
    width: 100%;
    height: 20%;
    margin-top: 10rem;
}
.libraryTopWrap h1{
    text-align: center;
    font-size: 1.8rem;
}
.userName{
    color: var(--readme-primary);
}

.myBooksTopWrap{
    width: 100%;
    height: 10%;
    margin-top: 3rem;
    margin-left: 2rem;
    float: left;
}
.tabItem {
    /* width: 100%;
    height: 10%; */
    font-size: 1rem;
    /* margin-right: 1rem; */
    font-weight: bold;
    list-style-type: none;
}
.tabItem li{
    display: inline-block; 
    margin-right: 1rem;
}
.tabActive {
    color: var(--readme-primary);
}
.myBooksContentWrap{
    /* width: 100%;
    height: 30%;
    display: flex; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
} 
.bookSection{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    font-size: 0.8rem;
    width: 33%;
    height: 30%;
    /* padding-bottom: 1%; */
}
.recentSection{
    display: flex;
    padding-bottom: 0rem;
    width: 100%;
    height: auto;
}
.recentDescription{
    padding-left: 1rem;
    line-height:2;
    box-sizing: border-box;
}
.recentDescription ul{
    list-style:none;
}
.recentDescription li{
    float: left;
}
.recentDescription ul li:not(:last-of-type)::after{
	content: '\00B7';
}
.recentDescription span{
    font-weight: bold;
}
.recentDescription p{
    padding: 1rem 0rem;
    clear:both;
    vertical-align: center;
}
.recentDescription img{  
    vertical-align:text-top;
}

