.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 2rem;
}
.sortNovel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sortTitle {
  display: flex;
  align-items: center;
  color: var(--readme-title-gray);
  font-weight: 800;
  font-size: 0.875rem;
}
.sortTitle div {
  margin-left: 0.4rem;
}