.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 2rem;
    margin-bottom: 7rem;
}
.episodeCard{
    display: flex;
    align-items: center; 
    margin:0.5rem 0rem;
}
.episodeCardImageInfo{
    height: 100px;
    background-color: #9fabea;
    border-radius: 10px;
    position: relative;
}
.episodeCardInfo{
    margin-left: 1rem;
} 