.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 2rem;
  margin-bottom: 7rem;
}
.sortNovel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sortIcon {
  display: flex;
  align-items: center;
  color: var(--readme-title-gray);
  font-weight: 800;
  font-size: 0.875;
}
.sortIcon img {
  margin: 0.4rem;
}
.episodeCard {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0rem;
}
.episodeFreeNew {
  display: flex;
  align-items: center;
  margin: 0.5rem 0rem;
}
.episodeFreeNew img {
  margin-right: 0.4rem;
}
.episodeTitle {
  font-size: 1rem;
  color: var(--readme-title-gray);
  margin: 0.2rem 0rem;
  font-weight: 800;
}
.episodeCardInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.episodeDay {
  font-size: 0.76rem;
  font-weight: 800;
  color: var(--readme-title-gray);
  margin: 0.1rem 0rem 0.7rem 0rem;
}
