.menutitle{
    margin: 1rem 2rem;
    display: flex;
}
.menutitle p{
    margin: 0rem 1rem 1rem 0rem;
    font-size: 1.3rem;
    font-weight: 600;
}
.infoCentainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin:1rem 2rem;
    flex-wrap: wrap;
}
.Episodecount{
    color:var(--readme-primary);
    font-weight: 500;
}
.menuactive{
    padding-bottom: 0.3rem;
    border-bottom: 4px solid var(--readme-primary)
}