.detailHeadercontainer {
  width: 100%;
  height: 8.625rem;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--readme-white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 6px 0px var(--readme-secondary);
}
.header {
  margin: 2rem;
  display: flex;
  align-items: center;
}
.leftmenu {
  width: 10%;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.leftmenu img {
  width: 0.7rem;
  height: auto;
}

.novelDetailTitle {
  margin: 10px;
  width: 80%;
  text-align: center;
}
.noevelMainTitle {
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--readme-primary);
}
.novelDetailTitle p {
  margin: 0.5rem;
  font-size: 0.75rem;
}
