.container{
    width: 100%;
    margin-top: 2rem;
    margin-left: 3rem;
}
.info{
    width: 100%;
    margin-top: 2rem;
    margin-left: 3rem;
}
.vertical{
    /* margin-top: 0.3rem; */
    display:flex;
    flex-direction: column;
}
.normal{
    margin-top: 0.3rem;
}

