.container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.container .loginForm {
    max-width: 300px;
  }
.container .loginFormForgot {
    float: right;
}
.container .antColRtl .loginFormForgot {
    float: left;
}
.container .loginFormButton {
    width: 100%;
}