.mainRankingCard {
  margin: 0.5rem 0;
}
.mainRankingContainer {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.mainRankingImg{
  margin-right: 1rem;
  width: 50px;
  height: 50px;
}
.mainRankingNumber {
  margin: 1rem;
  background-color: var(--readme-primary);
  box-shadow: 0px 5px 10px 0px var(--readme-secondary);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--readme-white);
}
.mainRankingInfo {
  color: var(--readme-gray-purple);
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}
.mainRankingTitle{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.mainRankingTitle span{
  font-size: 0.5rem;
}
.mainRankingTitle p{
  font-weight: 800;
  font-size: 0.9rem;
}
.mainRankinSubInfo{
  margin-top: 0.2rem;
  font-size: 0.7rem;
}
.upImg,.downImg,.notchangeImg{
  margin: 0 0.5rem;
}
.newImg{
  color: var(--readme-secondary);
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 800;
  margin-left: 0.5rem;
}


.allNovelImgContainer {
  position: relative;
}
.allNovelNewIcon {
  position: absolute;
  top: 0px;
  left: 0px;
}

.allListImg {
  width: 80px;
  height: 80px;
}

.allListImg img,
.listNewIcon img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.listNewIcon {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ageCheck p{
  position: absolute;
  bottom: 7px;
  right: 7px;
  width: 25px;
  height: 15px;
  padding: 0.3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nineteenCheck{
  background-color: var(--readme-red);
  color:var(--readme-white);
  font-size: 10px;

}
.allCheck{
  background-color: var(--readme-green);
  color:var(--readme-white);
  font-size: 10px;
}
.basicCheck{
  background-color: var(--readme-gray);
  color: var(--readme-black);
  font-size: 10px;
}