.mainScheduleContainer {
  margin: 1rem;
}
.mainScheduleContainer h3 {
  margin-bottom: 0.5rem;
  color: var(--readme-primary);
}
.mainSchedule {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
