.novelMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  cursor: pointer;
}
.novelMainMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 0 0 10px 10px;
  background-color: var(--readme-white);
  z-index: 102;
}

.novelMenuTitle {
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--readme-primary);
  margin-bottom: 2rem;
}

.novelMenuList {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
  width: 100%;
  font-size: 0.875rem;
}


.novelMenuList li {
  list-style: none;
}
.novelMenuBoxActive {
  font-weight: bolder;
  color: var(--readme-primary);
}
.novelMenuBox {
  color: var(--readme-title-gray);
}
.novelSubMenu {
  position: relative;
  top: -1rem;
  z-index: 101;
  width: 95%;
  opacity: 0.9;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: var(--readme-primary);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 5px 10px 0px var(--readme-secondary);
  animation: slideIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.novelSubMenuList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: 0.75rem;
}
.novelSubMenuList li {
  list-style: none;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
.novelSubMenuBoxActive {
  color: var(--readme-secondary);
  font-weight: bolder;
}
.novelSubMenuBox {
  color: var(--readme-gray-light);
}
