.novelMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 100;
  background-color: var(--readme-white);
  
}
.novelMainMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5rem 1rem 1rem 1rem;
}
.novelMenuTitle {
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--readme-primary);
  margin-bottom: 2rem;
}
.novelMenuList {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
  width: 100%;
  font-size: 0.875rem;
}
.novelMenuList li {
  list-style: none;
}
.novelMenuBoxActive {
  font-weight: 800;
  color: var(--readme-primary);
}
.novelMenuBox {
  color: var(--readme-gray);
}
.novelSubMenu {
  width: 100%;
  padding: 0.5rem 1rem;
}
.novelSubMenuList {
  display: flex;
  justify-content:left;
  align-items: center;
  height: 2rem;
  font-size: 0.75rem;
}
.novelSubMenuList li{
  list-style: none;
  margin-right: 0.5rem;
  background-color: var(--readme-gray-light);
  padding: 0.5rem 1rem;
  border-radius: 20px;

}
.novelSubMenuBoxActive {
  color: var(--readme-primary);
}

.novelSubMenuBox {
  color:var(--readme-darkgray);
  font-weight: bolder;
}