.container {
  margin: 14rem 1rem 0rem 1rem;
  color: var(--readme-darkgray);
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}
.allNovelTotalIcon img {
  margin-left: 1rem;
}
.notnovel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vw;
  font-size: 0.8rem;
  color: var(--readme-title-gray);
}
.notnovel img{
  margin-bottom: 1rem;
}
.novelContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 7rem;
}