.allNovelContainer{
    margin: 0.5rem 2rem 8rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.allNovelCard{
    background-color: var(--readme-gray-light);
    width:45%;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 16rem;
    box-sizing: border-box;
    border-radius: 20px;
}
.allNovelImg img{
    width:100%;
}
.allNovelInfo{
    margin-top: 0.5rem;
}
.allNovelauthor{
    margin-top: 0.3rem;
    margin-bottom: 2rem;
}
.allNovelstarpoint{
    display: flex;
    align-items: center;
    margin: 0.5rem 0rem;
}
.allNovelstarpoint span{
    margin: 0px 1rem 0rem 0.3rem;
}