.mypageListContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 1.5rem 2rem;
}
.mypageListTitleInfo {
  display: flex;
  align-items: center;
}
.mypageListTitleInfo p {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--readme-grey-dark);
}
