.allNovelCard {
  display: flex;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5rem;
  width: 185px;
  height: 280px;
  flex-direction: column;
}

.allNovelImgContainer {
  position: relative;
}
.allNovelNewIcon {
  position: absolute;
  top: 0px;
  left: 0px;
}
.allCardImg {
  width: 100%;
  height: 170px;
}

.allCardImg img,
.cardNewIcon img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.cardNewIcon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ageCheck p{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: var(--readme-gray);
  color: black;
  font-weight: 800;
  width: 25px;
  height: 15px;
  border-radius: 10px;
  font-size: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ageCheck {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: chartreuse;
  width: 30px;
  height: 20px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allNovelStatus {
  font-size: 0.75rem;
  color: var(--readme-primary);
  font-weight: 800;
  margin: 0.3rem 0rem;
}
.allNovelTitle {
  font-size: 0.94rem;
  font-weight: 800;
}
.allNovelTitle p {
  width: 100%;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.allNovelInfo {
  margin-left: 0.5rem;
}
.allNovelAuthor {
  margin-top: 0.3rem;
  font-size: 0.75rem;
}
.allNovelStarpoint {
  display: flex;
  align-items: center;
  margin: 0.5rem 0rem;
  font-size: 0.75rem;
}
.allNovelStarpoint span {
  margin: 0px 1rem 0rem 0.3rem;
}
