.container {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  max-height: 900px;
  min-height: 200px;
  color: black;
  transition: transform 0.5s ease-out;
  padding: 2rem 1rem 1rem 1rem;
  background-color:  rgb(243, 242, 242);
  border-top: 0.5px solid var(--readme-darkgray);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;  
}
.closeBtn {
  width: 3rem;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: var(--readme-modal-color);
}
.container.shown {
  transform: translateY(0);
}
.container.hidden {
  transform: translateY(100%);
}
