.tags {
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin: 0.1rem;
  width: 5rem;
}
.tagtitle {
  width: 100%;
  height: auto;
  background-color: var(--readme-gray-light);
  border-radius: 2rem;
  color: var(--readme-black);
  font-size: 0.7rem;
}
.tagtitle p {
  padding: 0.4rem 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
