.inputContainer {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100vw;
}
.inputContainer input {
  width: 90%;
}
.inputContainer input:focus {
  outline: none;
}
.commentsBtnContainer {
  display: flex;
  justify-content: right;
}

.commentsBtn {
  background-color: var(--readme-primary);
  color: var(--readme-white);
  padding: 0.4rem;
  border: none;
  font-size: 0.6rem;
}
