@import url('./common/fonts.css');

:root {
  --readme-primary: #5841E0;
  --readme-secondary: #55EB48;
  --readme-black: #0E0805;
  --readme-white: #FFFFFF;
  --readme-gray: #d9d9d9; /*292D32*/
  --readme-purple-gray: #A593E0;
  --readme-gray-light:#f4f4f4;
  --readme-gray-dark:#e5e5e5;
  --readme-main-font: 'DM Sans', sans-serif;
  --readme-title-gray:#7f7f7f;
  --readme-darkgray:#7f7f7f;
  --readme-red: #f80000;
  --readme-green :  #2d7c26;
  --readme-modal-color:#797979;
  --readme-review-rating:#fcc418;
  --readme-review-rating-gray:#b6b6b6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

