@import url('./common/fonts.css');

:root {
  --readme-primary: #5841E0;
  --readme-secondary: #55EB48;
  --readme-black: #0E0805;
  --readme-white: #FFFFFF;
  --readme-gray: #292D32;
  --readme-purple-gray: #A593E0;

  --readme-main-font: 'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

