.continer {
  margin: 1rem;
  white-space: nowrap; 
  overflow-x: scroll; 
}
.recentSearchNotKeyword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 5px 20px;
}
.recentSearchNotKeyword p {
  font-size: 0.8rem;
}
.recentSearchKeyword {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 1rem;
  height: 3rem;
}
.recentSearchContainer {
  display: flex;
  width: fit-content;
}
.recentSearchWordList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 10px;
  margin-right: 5px;
  font-size: 0.8rem;
  background-color: var(--readme-gray-light);
  border-radius: 5px;
}
.keywordtitle{
  width: fit-content;
}
.recommendKeywordTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
}