.recentSearchTopWrap{
    margin-top: 2.5rem;
    width: 100%;
    height: 10%;
    font-weight: bold;
    font-size: 0.75rem;
}
.recentSearchTopTitle{
    padding-left: 2rem;
    float: left;
    
}
.recentSearchTopTitle p{
    opacity: 0.5;
}
.recentSearchTopDelete{
    position: relative;
    left: 13rem;
    display:flex;
}
.recentSearchTopDelete p{
    color: var(--readme-primary);
}
.recentSearchTopDelete img{
    vertical-align:text-bottom;
}