.recentSearchTopWrap {
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.recentSearchTopTitle {
  opacity: 0.5;
}
.recentSearchTopDelete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recentSearchTopDelete p {
  color: var(--readme-primary);
}