.searchBoxWarp {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--readme-white);
  z-index: 100;
  padding: 1.5rem 1rem;
}
.leftArrow{
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBox {
  position: relative;
  width: 100vw;
  height: 3rem;
  background: rgba(243, 243, 243, 0.5);
  border-bottom: 1px solid var(--readme-primary);
  display: flex;
  align-items: center;
}
.searchBox input:focus {
  outline: none;
  cursor: pointer;
}
.inputText {
  height: 60%;
  width: 70%;
  text-justify: center;
  border: none;
  font-size: 1rem;
  position: absolute;
  top: 0.6rem;
  left: 0.8rem;
  background-color: #f8f8f8;
  cursor: default;
}
.closeIcon {
  position: absolute;
  right: 45px;
  background-color:var(--readme-gray-dark);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchIcon {
  position: absolute;
  right: 10px;
}
.novelContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 6rem;
}
.novelContainerTitle {
  padding: 0rem 1rem;
}
.novelContainerTitle p:first-child {
  margin-bottom: 1rem;
}
.novelInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0.5rem 7rem 0.5rem;
}
.notData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}
